{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle classe
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content_title %}
    Classes
{% endblock %}

{% block content %}
    <main>
        <h3>Liste des classes :</h3>
        <ul>
            {% for class in classes %}
                <li>{{ class.name }}</li>
            {% endfor %}
        </ul>
        <h3>Nouvelle classe :</h3>
        {{ form(classForm) }}
        <a href="{{ path('courses') }}">Cr&eacute;er une matière</a>
    </main>
{% endblock %}
