{% extends 'base.html.twig' %}

{% block title %}
    Cr&eacute;er mati&egrave;re
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content_title %}
    Mati&egrave;res
{% endblock %}

{% block content %}
    <main>
        <h3>Liste des mati&egrave;res :</h3>
        <ul>
            {% for course in courses %}
                <li>{{ course.name }}</li>
            {% endfor %}
        </ul>
        {{ form(courseForm) }}
        <form>
            <div class="form-group row">
                <label for="group" class="col col-form-label">Groupe :</label>
                <div class="col">
                    <input id="group" class="form-control" type="text"/>
                </div>
            </div>
        </form>
        <a href="{{ path('teachers') }}">Cr&eacute;er un enseignant</a>
    </main>
{% endblock %}
