<nav>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ path('home') }}">Nouvelle ann&eacute;e scolaire</a></li>
        <li class="list-group-item"><a href="{{ path('schoolyears') }}">Ann&eacute;es scolaires</a></li>
        <li class="list-group-item"><a href="{{ path('schoolclasses') }}">Classes</a></li>
        <li class="list-group-item"><a href="{{ path('courses') }}">Mati&egrave;res</a></li>
        <li class="list-group-item"><a href="{{ path('teachers') }}">Enseignants</a></li>
        <li class="list-group-item"><a href="{{ path('students') }}">El&egrave;ves</a></li>
        <li class="list-group-item"><a href="{{ path('home') }}">Evaluations</a></li>
        <li class="list-group-item"><a href="{{ path('home') }}">Notes</a></li>
        <li class="list-group-item"><a href="{{ path('home') }}">Bulletins</a></li>
    </ul>
</nav>