{% extends 'base.html.twig' %}

{% block title %}
    Cr&eacute;er enseignant
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h3>Liste des enseignants :</h3>
    <ul>
        {% for teacher in teachers %}
            <li>{{ teacher.title }} {{ teacher.firstName }} {{ teacher.lastName }}</li>
        {% endfor %}
    </ul>
    <form action="{{ path('students') }}">
        <fieldset>
            <legend>Cr&eacute;er un enseignant</legend>
            <div class="form-group row">
                <label for="firstname" class="col col-form-label">Pr&eacute;nom :</label>
                <div class="col">
                    <input id="firstname" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col col-form-label">Nom :</label>
                <div class="col">
                    <input id="lastname" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="registration_number" class="col col-form-label">Matricule :</label>
                <div class="col">
                    <input id="registration_number" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone_number" class="col col-form-label">T&eacute;l&eacute;phone :</label>
                <div class="col">
                    <input id="phone_number" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col col-form-label">Email :</label>
                <div class="col">
                    <input id="email" class="form-control" type="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="parents_phone" class="col col-form-label">Genre :</label>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender">M
                    </label>
                </div>
                <div class="form-check-inline col">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender">F
                    </label>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Valider"/>
        </fieldset>
    </form>
{% endblock %}
