{% extends 'base.html.twig' %}

{% block title %}
    Cr&eacute;er enseignant
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content_title %}
    Enseignants
{% endblock %}

{% block content %}
    <main>
        <h3>Liste des enseignants :</h3>
        <ul>
            {% for teacher in teachers %}
                <li>{{ teacher.title }} {{ teacher.firstName }} {{ teacher.lastName }}</li>
            {% endfor %}
        </ul>
        <h3>Nouvel enseignant :</h3>
        {{ form(teacherForm) }}
        <a href="{{ path('students') }}">Cr&eacute;er un enseignant</a>
    </main>
{% endblock %}
