{% extends 'base.html.twig' %}

{% block title %}
    Cr&eacute;er enseignant
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h3>Liste des enseignants :</h3>
    <ul>
        {% for teacher in teachers %}
            <li>{{ teacher.title }} {{ teacher.firstName }} {{ teacher.lastName }}</li>
        {% endfor %}
    </ul>
    {{ form(teacherForm) }}
    <a href="{{ path('students') }}">Cr&eacute;er un enseignant</a>
{% endblock %}
